.table{
    width: 300px;
    height: 330px;
    float: left;
    margin-left: 120px;
    margin-right: 80px;
    border-radius: 20px;
    background-color: #76bed17f;
    border: 2px solid #645353;

}
mat-form-field{
margin-left: 50px;}

button{
margin-left: 100px;
margin-top: 20px;}

.table1 {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 80px;
    border: 2px solid #645353;

  }
  
  .table1 th, .table1 td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table1 th {
    height: 50px;
    background-color: #76bed17f;
    color: rgb(0, 0, 0);
    
  }
  
  .table1 tr:hover {
    background-color: #f5f5f5;
  }
  
  .table1 #action, .table1 td:nth-child(5) {
    text-align: center;
  }

  form h1{
    text-align: center;
    margin-top: 30px;
  }
  input{
    color: black;
  }
  
