mat-card{
    width: 200px;
    height: 280px;
    margin-left: 500px;
    margin-top: 80px;
    text-align: center;
    background-color: rgba(218, 227, 227, 0.868);
}
button{
    width: 200px;
}
.google{
    width: 200px;
    height: 38px;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 15px;
    color: aliceblue;
    margin-bottom: 10px;
    background-color: rgba(43, 70, 201, 0.938);
}



